DEVICE_NAME=pi-souterrain
DEVICE_LOCATION=souterrain
API_URL=http://10.10.10.20:8811
API_TOKEN=

# Sensor types to enable (comma-separated). Allowed: DHT22,DHT11,DS18B20
SENSOR_TYPES=DHT22,DHT11,DS18B20
DHT22_PIN=D24
DHT11_PIN=None # D23

